footer {
  width: 100%;
  height: 186px;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $location-font-color;
  color: white;
  box-sizing: border-box;
  a {
    width: fit-content;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.partnership {
  display: flex;
  flex-direction: column;
  gap: 7px;
  svg {
    width: 11px;
    height: 13px;
    margin-right: 10px;
  }
}

.indications {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
