footer {
  width: 100%;
  height: 186px;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $location-font-color;
  color: white;
  box-sizing: border-box;
  a {
    width: fit-content;
  }
  @include md {
    height: 144px;
    padding-right: 65px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: unset;
    gap: 90px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  @include md {
    flex-direction: row;
    gap: 45px;
  }
}

.partnership {
  display: flex;
  flex-direction: column;
  gap: 7px;
  svg {
    width: 11px;
    height: 13px;
    margin-right: 10px;
  }
  @include md {
    flex-direction: row;
    gap: 15px;
  }
}

.indications {
  display: flex;
  flex-direction: column;
  gap: 7px;
  @include md {
    flex-direction: row;
    gap: 15px;
  }
}
