body {
  margin: 0;
}
body .main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  section {
    display: flex;
    justify-content: center;
  }
}

.container {
  width: 100%;
  height: 100%;
}
.container--max-1050 {
  max-width: 1050px;
}
.container--max-1080 {
  max-width: 1080px;
}
.container--restaurants {
  margin-top: 220px;
  transition: all 1000ms;
}
@media (min-width: 768px) {
  .container--restaurants {
    display: flex;
    justify-content: center;
    margin-top: 343px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.main__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
@media (min-width: 768px) {
  .main__title {
    font-size: 34px;
  }
}
.main__title--menu {
  font-size: 28px;
}
.main__title--footer {
  font-size: 18px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: lighter;
}
.subtitle--menu-section {
  font-size: 16px;
  position: relative;
  padding-bottom: 8px;
}
.subtitle--menu-section::after {
  content: "";
  background: #99E2D0;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 3px;
  width: 40px;
}

.indications a {
  font-weight: lighter;
}

header {
  width: 100%;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 1000ms;
}
@media (min-width: 768px) {
  header {
    height: 96px;
  }
}

footer {
  width: 100%;
  height: 186px;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  color: white;
  box-sizing: border-box;
}
footer a {
  width: fit-content;
}
@media (min-width: 768px) {
  footer {
    height: 144px;
    padding-right: 65px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: unset;
    gap: 90px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    gap: 45px;
  }
}

.partnership {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.partnership svg {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .partnership {
    flex-direction: row;
    gap: 15px;
  }
}

.indications {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  .indications {
    flex-direction: row;
    gap: 15px;
  }
}

.btn__main {
  position: relative;
  margin: 15px;
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(-5deg, rgb(147, 86, 220) 5%, rgb(255, 121, 218) 95%);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  z-index: 1;
}
.btn__main:hover {
  border-radius: 25px;
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.3));
}
.btn__main:hover::after {
  border-radius: 25px;
  opacity: 0.13;
}
.btn__main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.btn-blank {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btn-blank__like {
  width: 22px;
  height: 21px;
  cursor: help;
}
.btn-blank__like svg {
  width: inherit;
  height: inherit;
}
.btn-blank__like:active svg path {
  fill: red;
}
.btn-blank__back {
  position: absolute;
  left: 23px;
  color: #353535;
}
.btn-blank__back svg {
  width: 17px;
  height: 16px;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card__new {
  display: none;
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 14px 6px 14px;
  font-size: 14px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
}
.card__new--visible {
  display: inline;
}
.card--dish {
  height: 70px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
}
.card__price {
  font-size: 15px;
  font-weight: bold;
}

.card__content {
  padding: 10px 20px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content--dish {
  padding: 15px;
  align-items: flex-end;
}

.card__txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__txt h3 {
  font-size: 18px;
}
.card__txt p {
  font-size: 17px;
  font-weight: lighter;
}
.card__txt--dish {
  gap: unset;
}
.card__txt--dish h3 {
  font-weight: normal;
}
.card__txt--dish p {
  font-size: 15px;
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #EAEAEA;
  color: #353535;
}

.explore {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  background-color: #F6F6F6;
  box-sizing: border-box;
}
.explore .subtitle {
  color: #353535;
}
@media (min-width: 768px) {
  .explore {
    padding: 30px;
  }
  .explore h2 {
    font-size: 40px;
    transition: all 450ms;
  }
}

.guide {
  padding-top: 50px;
  padding-bottom: 50px;
}
.guide h2 {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .guide h2 {
    margin-bottom: 27px;
  }
}
.guide__steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 24px;
  transition: all 450ms;
}
@media (min-width: 768px) {
  .guide__steps {
    flex-direction: row;
    gap: 13px;
    padding-bottom: 0;
  }
}

.step {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}
.step span {
  width: 24px;
  height: 24px;
  position: relative;
  left: 12px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  color: #F6F6F6;
  background-color: #9356DC;
}
.step div {
  width: 96%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}
.step div svg {
  margin-left: 30px;
  color: #7E7E7E;
}
.step--logo-purple svg path {
  fill: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 50px 20px;
}
.restaurants h2 {
  margin: 5px 0;
}
.restaurants__cards {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 450ms;
}
.restaurants__cards a {
  width: 100%;
}
@media (min-width: 768px) {
  .restaurants__cards {
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px clamp(50px, 9.3%, 100px);
  }
  .restaurants__cards a {
    flex: 1 1 43%;
  }
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.restaurant__image {
  position: absolute;
  top: 63px;
  right: 0px;
  left: 0px;
  z-index: -1;
  height: 275px;
  width: 100%;
  transition: all 1000ms;
}
.restaurant__image img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  transition: all 1000ms;
}
@media (min-width: 768px) {
  .restaurant__image {
    height: 383px;
    transform: translateY(33px);
  }
  .restaurant__image img {
    height: 383px;
  }
}

.menu {
  padding: 40px 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
}
.menu__header {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.menu__section {
  width: clamp(0px, 89vw, 634px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .menu {
    margin-top: 0;
    width: clamp(768px, 75vw, 1024px);
  }
}
