body {
  margin: 0;
}
body .main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  section {
    display: flex;
    justify-content: center;
  }
}

.container {
  width: 100%;
  height: 100%;
}
.container--max-1050 {
  max-width: 1050px;
}
.container--max-1080 {
  max-width: 1080px;
}
.container--restaurants {
  margin-top: 220px;
  transition: all 1000ms;
}
@media (min-width: 768px) {
  .container--restaurants {
    display: flex;
    justify-content: center;
    margin-top: 343px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.main__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
@media (min-width: 768px) {
  .main__title {
    font-size: 34px;
  }
}
.main__title--menu {
  font-size: 28px;
}
.main__title--footer {
  font-size: 18px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: lighter;
}
.subtitle--menu-section {
  font-size: 16px;
  position: relative;
  padding-bottom: 8px;
}
.subtitle--menu-section::after {
  content: "";
  background: #99E2D0;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 3px;
  width: 40px;
}

.indications a {
  font-weight: lighter;
}

@keyframes progress-bar {
  100% {
    transform: scaleX(1);
  }
}
@keyframes hidden-progress-bar {
  100% {
    opacity: 0;
  }
}
@keyframes appearance-menu {
  17% {
    opacity: 0.18;
  }
  24% {
    opacity: 0.4;
  }
  46% {
    opacity: 0.81;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes anim-in-turn {
  100% {
    opacity: 1;
  }
}
.anim {
  opacity: 0;
  animation: anim-in-turn 1000ms forwards;
}
.anim--1 {
  animation-delay: 1500ms;
}
.anim--2 {
  animation-delay: 1700ms;
}
.anim--3 {
  animation-delay: 1900ms;
}
.anim--4 {
  animation-delay: 2100ms;
}
.anim--5 {
  animation-delay: 2300ms;
}
.anim--6 {
  animation-delay: 2500ms;
}
.anim--7 {
  animation-delay: 2700ms;
}
.anim--8 {
  animation-delay: 2900ms;
}
.anim--9 {
  animation-delay: 3100ms;
}
.anim--10 {
  animation-delay: 3300ms;
}
.anim--11 {
  animation-delay: 3500ms;
}
.anim--12 {
  animation-delay: 3700ms;
}
.anim--13 {
  animation-delay: 3900ms;
}
.anim--14 {
  animation-delay: 4100ms;
}

header {
  width: 100%;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 1000ms;
}
@media (min-width: 768px) {
  header {
    height: 96px;
  }
}

footer {
  width: 100%;
  height: 186px;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  color: white;
  box-sizing: border-box;
}
footer a {
  width: fit-content;
}
@media (min-width: 768px) {
  footer {
    height: 144px;
    padding-right: 65px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: unset;
    gap: 90px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    gap: 45px;
  }
}

.partnership {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.partnership svg {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .partnership {
    flex-direction: row;
    gap: 15px;
  }
}

.indications {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  .indications {
    flex-direction: row;
    gap: 15px;
  }
}

.btn__main {
  position: relative;
  margin: 15px;
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(-5deg, rgb(147, 86, 220) 5%, rgb(255, 121, 218) 95%);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  z-index: 1;
}
.btn__main:hover {
  border-radius: 25px;
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.3));
}
.btn__main:hover::after {
  border-radius: 25px;
  opacity: 0.13;
}
.btn__main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.btn {
  padding: 0;
}
.btn__like {
  width: 22px;
  height: 21px;
  position: relative;
  overflow: hidden;
  clip-path: path("M 12.2208 2.4055 L 11.3741 3.3573 L 11.0005 3.7773 L 10.627 3.3573 L 9.7805 2.4058 C 7.7827 0.1526 4.5976 -0.1696 2.4766 1.802 C -0.0175 4.1245 -0.1549 8.3236 2.0848 10.8495 L 10.399 20.2148 C 10.7372 20.5955 11.2595 20.5955 11.5977 20.2149 L 19.9123 10.8492 C 22.1559 8.3233 22.0186 4.1246 19.5245 1.8021 C 17.4035 -0.1696 14.2186 0.1526 12.2208 2.4055 Z");
  z-index: 2;
}
.btn__like--tick {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  appearance: none;
  overflow: hidden;
  z-index: 4;
}
.btn__like--tick + .fill {
  width: 44px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50%);
  aspect-ratio: 1/1;
  transition: transform 1.2s cubic-bezier(0.2, 0.6, 0.8, 0.4);
}
.btn__like--tick:checked + .fill {
  transform: translateY(0);
}
.btn__like .heart-stroke {
  width: 22px;
  height: 21px;
  stroke: black;
  stroke-width: 2px;
  fill: transparent;
}
.btn__back {
  position: absolute;
  left: 23px;
  color: #353535;
}
.btn__back svg {
  width: 17px;
  height: 16px;
}

.wave use {
  animation: wave-movements 450ms linear infinite;
}

@keyframes wave-movements {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card__new {
  display: none;
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 14px 6px 14px;
  font-size: 14px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
}
.card__new--visible {
  display: inline;
}
.card--dish {
  height: 70px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
  overflow: hidden;
}
.card--dish:hover::after {
  transform: translateX(-60px);
}
.card--dish:hover .card__price {
  transform: translateX(-60px);
  margin-left: 60px;
}
.card--dish::after {
  content: "";
  width: 60px;
  height: 70px;
  position: absolute;
  top: 0;
  right: -60px;
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  background-image: url(../../images/logo/Check.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.card__price {
  font-size: 15px;
  font-weight: bold;
  transition: transform 300ms ease-in-out;
}

.card__content {
  padding: 10px 20px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content--dish {
  padding: 15px;
  align-items: flex-end;
}

.card__txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__txt h3 {
  font-size: 18px;
}
.card__txt p {
  font-size: 17px;
  font-weight: lighter;
}
.card__txt--dish {
  width: fit-content;
  height: 40px;
  gap: unset;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card__txt--dish h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: normal;
}
.card__txt--dish p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
}

.load-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  animation: hidden-progress-bar forwards;
  animation-delay: 1400ms;
}
.load-container .progress {
  width: 35vw;
  height: 1vw;
  border: 2px solid #353535;
  padding: 0.25rem;
}
.load-container .progress__bar {
  height: 100%;
  height: 100%;
  background: #FF79DA;
  transform: scaleX(0);
  transform-origin: left;
  animation: progress-bar 1300ms 200ms cubic-bezier(0.9, 0, 0.1, 1) both;
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #EAEAEA;
  color: #353535;
}

.explore {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  background-color: #F6F6F6;
  box-sizing: border-box;
}
.explore .subtitle {
  color: #353535;
}
@media (min-width: 768px) {
  .explore {
    padding: 30px;
  }
  .explore h2 {
    font-size: 40px;
    transition: all 450ms;
  }
}

.guide {
  padding-top: 50px;
  padding-bottom: 50px;
}
.guide h2 {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .guide h2 {
    margin-bottom: 27px;
  }
}
.guide__steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 24px;
  transition: all 450ms;
}
@media (min-width: 768px) {
  .guide__steps {
    flex-direction: row;
    gap: 13px;
    padding-bottom: 0;
  }
}

.step {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}
.step span {
  width: 24px;
  height: 24px;
  position: relative;
  left: 12px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  color: #F6F6F6;
  background-color: #9356DC;
}
.step div {
  width: 96%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}
.step div svg {
  margin-left: 30px;
  color: #7E7E7E;
}
.step--logo-purple svg path {
  fill: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 50px 20px;
}
.restaurants h2 {
  margin: 5px 0;
}
.restaurants__cards {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 450ms;
}
.restaurants__cards .card {
  width: 100%;
}
.restaurants__cards .card--clickable {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .restaurants__cards {
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px clamp(50px, 9.3%, 100px);
  }
  .restaurants__cards .card {
    flex: 1 1 43%;
  }
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.restaurant__image {
  position: absolute;
  top: 63px;
  right: 0px;
  left: 0px;
  z-index: -1;
  height: 275px;
  width: 100%;
  transition: all 1000ms;
}
.restaurant__image img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  transition: all 1000ms;
}
@media (min-width: 768px) {
  .restaurant__image {
    height: 383px;
    transform: translateY(33px);
  }
  .restaurant__image img {
    height: 383px;
  }
}

.menu {
  padding: 40px 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  transform: translateY(70%);
  opacity: 0;
  animation: appearance-menu 1500ms 200ms ease-out forwards;
}
.menu__header {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.menu__section {
  width: clamp(0px, 89vw, 634px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .menu {
    margin-top: 0;
    width: clamp(768px, 75vw, 1024px);
  }
}
