@keyframes appearance-menu {
  17%{
    opacity: 0.18;
  }
  24%{
    opacity: 0.4;
  }
  46%{
    opacity: 0.81;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes anim-in-turn {
  100% {
    opacity: 1;
  }
}


