* {
  font-family: 'Roboto', sans-serif;
}

.main__title {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  &--menu {
    font-size: 28px;
  }
  &--footer {
    font-size: 18px;
  }
  @include md {
    font-size: 34px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: lighter;
  &--menu-section {
    font-size: 16px;
    position: relative;
    padding-bottom: 8px;
    &::after {
      content: "";
      background: $tertiary-color;
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 3px;
      width: 40px;
    }
  }
}

.indications a {
  font-weight: lighter;
}