* {
  font-family: 'Roboto', sans-serif;
}

.main-title {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: lighter;
}