* {
  font-family: 'Roboto', sans-serif;
}

.main__title {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  &--menu {
    font-size: 28px;
  }
  &--footer {
    font-size: 18px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: lighter;
}

.indications a {
  font-weight: lighter;
}