body {
  @include md {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.restaurant__image {
  position: absolute;
  right: 0px;
  left: 0px;
  z-index: -1;
  height: 275px;
  width: 100%;
  img {
    height: 275px;
    width: 100%;
    object-fit: cover;
    transition: all 1000ms;
  }
  @include md {
    height: 383px;
    top: 96px;
    img {
      height: 383px;
    }
  }
}


.menu {
  margin-top: 220px;
  padding: 40px 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: $main-bg-color;
  border-radius: 40px 40px 0px 0px;
  &__header {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  &__section {
    // box-sizing: border-box;
    width: clamp(0px, 89vw, 634px);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  @include md {
    margin-top: 0;
    width: clamp(768px, 75vw, 1024px);
  }
}