.btn__main {
  position: relative;
  margin: 15px;
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(
    -5deg,
    rgba(147, 86, 220, 1) 5%,
    rgba(255, 121, 218, 1) 95%
  );
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  z-index: 1;
  &:hover {
    border-radius: 25px;
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.3));
    &::after {
      border-radius: 25px;
      opacity: 0.13;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}

.btn {
  padding: 0;
  &__like {
    width: 22px;
    height: 21px;
    position: relative;
    overflow: hidden;
    clip-path: url(../../images/button/heart.svg#heart-clip);
    z-index: 2;
    &--tick {
      margin: 0;
      appearance: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      z-index: 4;
      & + .fill {
        width: 44px;
        position: absolute;
        top:0;
        left:0;
        transform: translateY(50%);
        aspect-ratio: 1/1;
        transition: transform 1.2s cubic-bezier(.2, .6, .8, .4);
      }
      &:checked + .fill {
        transform: translateY(0);
      }
    }
    .heart-stroke {
      width: 22px;
      height: 21px;
      stroke: black;
      stroke-width: 2px;
      fill: transparent;
      }
    }

  &__back {
    position: absolute;
    left: 23px;
    color: $location-font-color;
    svg {
      width: 17px;
      height: 16px;
    }
  }
}



.wave {
  use {
    animation: wave-movements 450ms linear infinite;
  }
}

@keyframes wave-movements {
  0% {
     transform: translateX(0);
  }
  100% {
     transform: translateX(-50%);
  }
}
